<h1 align:center>Editing Article</h1>

<%= render 'form', article: @article %>

|
<div style="margin-bottom: 95px; text-align:center; margin-top:0px; color:white;">
        <div style="margin-right: 29px;">
                <%= link_to 'Cancel Request and Return to Articles', articles_path, class:'btn btn-danger btn-xs' %>

        </div>
        <div style="margin-top: 20px">
                <%= link_to 'Show', @article  , class:'btn btn-warning btn-xs'%> 
        </div>

</div>

    

