<footer  class="footer">

    <small>
        copyrigt &copy; <a href="https://www.ebkust.edu.sl">Ernest Bai Koroma University of Science and Technology by Titus Jusu Nabieu</a>
    </small>

</footer>